<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">

    <title>{{title}}</title>
    <meta name="description" content="{{description}}">

    <meta name="author" content="Zageron">
    <meta name="keywords" content="puzzle, challenge, game">
    <meta name="description" content="An online challenge adventure!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name='robots' content='noindex,follow' />

    <link type="text/plain" rel="author" href="/humans.txt">

    <link rel="stylesheet" href="https://unpkg.com/@csstools/normalize.css" />
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <main>
        <h1>
            {{title}}
        </h1>
    </main>
</body>

</html>
