{{#*inline "page"}}

<body>
    <div class="container">
        <h1>Rendered in partial DEBUGGING, parent is {{parent}}.</h1>
        <h2>Welcome {{id}}</h2>
        <div class="container-sm">
            <form method="post" action="login">
                <div class="mb-3">
                    <input type="text" name="username" id="username" class="form-control" />
                    <button type="submit" name="login" value="submit_value" class="btn btn-outline-warning">
                        Login
                    </button>
                </div>
            </form>

            <form method="post" action="logout">
                <div class="mb-3">
                    <button type="submit" name="logout" value="submit_value" class="btn btn-outline-warning">
                        Logout
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>

{{/inline}}
{{> (lookup this "parent")}}
